/* body{
    background: url('https://img.freepik.com/premium-vector/camera-technology-safety-conceptcamera-vector-low-poly-wireframe-mesh-design-dark-blue-background-security-system-cctv-security-concept_387612-1.jpg?w=826');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;

} */